.container {
    display: flex;
    width: 1000px;
    height: 600px;
    border-style: solid;
    flex-direction:row;


}

.container1 {
    display: flex;
    border-style: solid;
    width: 170px;
    height: 600px;
}
 .container2 {
     display: flex;
     border-style: solid;
     width: 160px;
     height: 600px;
 }

 .container3 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 600px;
 }

 .container4 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 600px;
 }

 .container5 {
     border-style: solid;
     display: flex;
     width: 170px;
     height: 600px;
 }

 .box1 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 470px;
     position: fixed;
     
    
 }

 .box2 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 345px;
     position: fixed;
     background-color: red;
 }

 .box3 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 225px;
     position: fixed;
     
 }

 .box4 {
     display: flex;
     border-style: solid;
     width: 85px;
     height: 220px;
     background-color: yellow;

 }

 .box5 {
     display: flex;
     border-style: solid;
     width: 85px;
     height: 220px;
     
 }



 

 .box21 {
     display: flex;
     border-style: solid;
     width: 160px;
     height: 150px;
     margin-top: 440px;
     position: fixed;
     
 }

 .box22 {
     display: flex;
     border-style: solid;
     width: 160px;
     height: 150px;
     margin-top: 285;
     position: fixed;
     background-color: yellow;
 }

 .box23 {
     display: flex;
     border-style: solid;
     width: 80px;
     height: 120px;
     margin-top: 160px;
     background-color: black;
     

 }

 .box24 {
     display: flex;
     border-style: solid;
     width: 80px;
     height: 120px;
     margin-top: 160px;
        
 }

 .box31 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 140px;
     margin-top: 450px;
     position: fixed;
     background-color: red;
     
 }

 .box32 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 140px;
     margin-top: 305px;
     position: fixed;
     background-color: blue;
 }

 .box33 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 90px;
     margin-top: 210px;
     position: fixed;
 }

 .box34 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height:70px;
     margin-top: 135px;
     position: fixed;
 }

 .box35 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height: 70px;
     margin-top: 135px;
     position: fixed;
 }

 .box36 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 65px;
     margin-top: 65px;
     position: fixed;
     background-color: yellow;
     
 }

 .box37 {
     background-color: yellow;
     display: flex;
     width: 235px;
     height: 65px;
     margin-bottom: 100px;
 }

 .box41 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height: 80px;
     margin-top: 510px;
     position: fixed;
     
     
 }

 .box42 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height: 80px;
     margin-top: 510px;
     background-color: black;
     position: relative;
     
     
 }

 .box43 {
     display: flex;
     border-style: solid;
     width: 235px;
     height: 100px;
     position: fixed;
     margin-top: 410px;
     background-color: yellow;
 }

 .box44 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height: 50px;
     margin-top: 355px;
     position: fixed;
 }

 .box45 {
     display: flex;
     border-style: solid;
     width: 117.5px;
     height: 50px;
     margin-top: 355px;
     position: fixed;
     align-content: stretch;
     
 }



 

 

 
     
     
 

 .box51 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 470px;
     position: fixed;
 }

 .box52 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 345px;
     position: fixed;
 }

 .box53 {
     display: flex;
     border-style: solid;
     width: 170px;
     height: 120px;
     margin-top: 220px;
     position: fixed;
     background-color: black;

 }

 .box54 {
     display: flex;
     border-style: solid;
     width: 170px;
     height:120px;
     margin-top: 95px;
     position: fixed;
     background-color: yellow;
 }

 .box55 {
     display: flex;
     border-style: solid;
     width: 85px;
     height: 90px;
     position: fixed;
     background-color: yellow;
 }

 .box56 {
     display: flex;
     border-style: solid;
     width: 85px;
     height: 90px;
     background-color: black;
     

 }


     


 
 






    