:root {
    --pink: #257bdf;
  }
  body {
    margin: 0;
    padding: 0;
    color: var(--orange);
    font-family: sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-style:italic;
  }
  
  .container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: plum;
    
  }
  
  #gameboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }
  
  .box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: var(--pink);
  }
  
  .box:hover {
    cursor: pointer; 
  }
  
  button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--red);
    color: black;
    border-color: var(--red);
    font-size: 18px;
    transition: 200ms transform;
    margin-left: 800px;
  }
  
  button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    color:rgb(19, 146, 231);
  }

  .score {
      display: flex;
      border-style: solid;
  }

  

  
  
  h2 {
      margin-right: 800px;
      justify-content: right;
      
  }





